body.no-js .carbon-container { display: none; }

#poststuff .carbon-postbox .inside { padding: 0; margin: 0; }
#poststuff .carbon-separator h2 { margin: 0; }

.carbon-container { width: 100%; border-spacing: 0; }
.carbon-container td { padding: 10px; margin: 0; }
.carbon-container td label { font-weight: bold;  }

.Carbon_Container_ThemeOptions th label,
.Carbon_Container_CustomFields td label { display: block; }

.carbon-container.Carbon_Container_CustomFields td,
.carbon-container.Carbon_Container_CustomFields th { padding: 10px; border-bottom: 1px solid #e8e8e8; }
.carbon-container.Carbon_Container_CustomFields td.mceIframeContainer,
.carbon-container.Carbon_Container_CustomFields td.mceStatusbar { padding: 0; }

.carbon-container .carbon-subcontainer, 
.carbon-container .carbon-subcontainer table { width: 100%; border-spacing: 0; }

.carbon-container .carbon-subcontainer { margin-top: 10px; border: 1px solid #E8E8E8; background: #FCFCFC; }
.carbon-container .carbon-subcontainer td { padding: 0; }
.carbon-container .carbon-subcontainer table th { width: 20%; text-align: left; }
.carbon-container .carbon-subcontainer table th,
.carbon-container .carbon-subcontainer table td { padding: 10px; vertical-align: top; }
.carbon-container .carbon-subcontainer table > tr > td { border-bottom: 1px solid #E0E0E0; border-top: none; }
.carbon-container .carbon-subcontainer table.layout-list td { width: auto; }
.carbon-container .carbon-subcontainer p.alignright { margin-right: 20px; }

.carbon-container .carbon-subcontainer .carbon-actions td { padding: 15px 20px; }
.carbon-container .carbon-subcontainer .carbon-actions select { width: auto; }

.carbon-container .carbon-subcontainer .wp-editor-container table { width: auto; }
.carbon-container .carbon-subcontainer .wp-editor-container td { width: auto; padding: 0; }

.Carbon_Container_ThemeOptions { padding-right:0; width:auto; }

.carbon-container .wp-editor-tools { padding-left:0; }

.carbon-container .carbon-field textarea { width:100%; resize: vertical; }

.help-text { display: block; padding: 2px 0; color: #666; }

.carbon-container input.button { border-radius:3px;}
.carbon-container a.button { padding-left:8px; padding-right:8px; border-radius:3px;}

.carbon-container .carbon-set-list input{ margin-right:5px;}
.carbon-container .carbon-set-list p{ margin:0 0 3px 0;}

.carbon-Complex,
.carbon-Rich_Text { margin-bottom:2px;}


.carbon-container tr.carbon-separator {}
.carbon-container tr.carbon-separator td { padding:0; }
.carbon-container tr.carbon-separator th { padding: 20px 0 0; }
.carbon-container tr.carbon-separator h3 { font-weight: 400; font-size: 1.4em; }
.carbon-container tr.carbon-separator .help-text { padding:5px 10px;}

.carbon-container.Carbon_Container_CustomFields tr.carbon-separator td { border:0; }
.carbon-container.Carbon_Container_CustomFields tr.carbon-separator h3 { border: none; }
.carbon-container.Carbon_Container_CustomFields tr.carbon-separator .help-text { padding:5px 10px;}

.carbon-highlight { background: #ffebe8 !important; border: #cc0000 solid 1px !important; }

.carbon-widget-field-wrapper.carbon-highlight { margin: 0 -10px; padding: 0 10px; }

.carbon-button, 
.carbon-button a { position: relative }
.carbon-button ul { position: absolute; display: none; top: 26px; left: 0; padding: 5px 0; margin: 0; background: white; border: 1px solid #aaa; box-shadow: 3px 3px 5px rgba(60, 60, 60, .3); z-index: 1; -webkit-border-bottom-right-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomright: 3px; -moz-border-radius-bottomleft: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; }
.carbon-button ul li { position: relative; margin: 0; }
.carbon-button ul li a { display: block; padding: 5px 15px; line-height: 1.1em; text-decoration: none }
.carbon-button ul li a:hover { background-color: #eaeff5; color: #333; }

.cl { font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }

.carbon-group-row.minimized td.carbon-drag-handle + td tr { display: none; }
.carbon-group-row.minimized td.carbon-drag-handle + td tr:first-child { display: table-row; }