.cb-button,.cb-icon{font-size:13px;text-align:center}
.menu-edit div.field-custom{margin:.3em 0 .6em}
.cb-cf:after,.cb-cf:before,.cb-hl:after,.cb-hl:before{content:"";display:block;line-height:0}
.cb-cf:after,.cb-hl:after{clear:both}
.cb-hidden{display:none;visibility:visible}
.cb-thin{width:190px;float:left}
[class^=cb-sprite-]{display:block;width:8px;height:8px;float:left;background:url(media-browser-sprite.png);margin:0}
.cb-icon{display:block;height:26px;width:26px;border:1px solid #BBB;border-radius:15px;position:relative;overflow:hidden;line-height:25px;background:#fff}
.cb-icon:hover{border-color:#999}
.cb-icon:active,.cb-icon:focus{outline:0}
.cb-icon.small{width:18px;height:18px;line-height:17px}
.cb-icon.large{width:28px;height:28px;line-height:27px}
.cb-icon [class^=cb-sprite-]{position:absolute;top:50%;left:50%;margin:-4px 0 0 -4px}
.cb-button,.cb-image-uploader{position:relative}
.cb-icon.light{border:0;padding:1px;background:#F5F5F5}
.cb-icon.light:hover{background:#EBEBEB}
.cb-icon.dark{border:0;padding:1px;background:#0B0B0B;box-shadow:0 1px 3px rgba(0,0,0,.25)}
.cb-sprite-add{background-position:0 0;width:8px;height:8px}
.cb-icon .cb-sprite-add{margin:-4px 0 0 -4px}
.cb-icon.dark .cb-sprite-add{background-position:0 -50px}
.cb-icon:hover .cb-sprite-add,.cb-sprite-add:hover{background-position:0 -100px}
.cb-sprite-remove{background-position:-50px 0;width:9px;height:2px}
.cb-icon .cb-sprite-remove{margin:-1px 0 0 -4px}
.cb-icon.dark .cb-sprite-remove{background-position:-50px -50px}
.cb-icon:hover .cb-sprite-remove,.cb-sprite-remove:hover{background-position:-50px -100px}
.cb-sprite-delete{background-position:-100px 0;width:10px;height:10px}
.cb-icon .cb-sprite-delete{margin:-5px 0 0 -5px}
.cb-icon.dark .cb-sprite-delete{background-position:-100px -50px}
.cb-icon:hover .cb-sprite-delete,.cb-sprite-delete:hover{background-position:-100px -100px}
.cb-sprite-edit{background-position:-150px 0;width:14px;height:14px}
.cb-icon .cb-sprite-edit{margin:-7px 0 0 -7px}
.cb-icon.dark .cb-sprite-edit{background-position:-150px -50px}
.cb-icon:hover .cb-sprite-edit,.cb-sprite-edit:hover{background-position:-150px -100px}
.cb-sprite-locate{background-position:-200px 0;width:12px;height:13px}
.cb-icon .cb-sprite-locate{margin:-6px 0 0 -7px}
.cb-icon.dark .cb-sprite-locate{background-position:-200px -50px}
.cb-icon:hover .cb-sprite-locate,.cb-sprite-locate:hover{background-position:-200px -100px}
.cb-sprite-left{background-position:-250px 0;width:6px;height:10px}
.cb-icon .cb-sprite-left{margin:-5px 0 0 -4px}
.cb-icon.dark .cb-sprite-left{background-position:-250px -50px}
.cb-icon:hover .cb-sprite-left,.cb-sprite-left:hover{background-position:-250px -100px}
.cb-sprite-right{background-position:-300px 0;width:6px;height:10px}
.cb-icon .cb-sprite-right{margin:-5px 0 0 -3px}
.cb-icon.dark .cb-sprite-right{background-position:-300px -50px}
.cb-icon:hover .cb-sprite-right,.cb-sprite-right:hover{background-position:-300px -100px}
.cb-sprite-arrow{background-position:0 -150px;margin:4px 5px 0 7px;width:16px;height:16px}
.cb-sprite-media{background-position:-50px -150px;width:36px;height:36px}
.cb-button{display:inline-block;border-radius:3px;height:28px;padding:0 11px 1px;cursor:pointer;box-sizing:border-box;color:#333;font-weight:400;line-height:26px;text-decoration:none;background:#F9F9F9;border:1px solid #BBB;box-shadow:0 1px 0 rgba(255,255,255,.25)inset}
.cb-image-uploader img{width:100%;height:auto;display:block;min-width:30px;min-height:30px;background:#f1f1f1;margin:0;padding:0}
.cb-image-uploader .view{float:left;position:relative;max-width:100%}
.cb-image-uploader .cb-soh-target{position:absolute;top:5px;right:5px}
.cb-image-uploader .cb-soh-target li{margin:0 0 0 4px}
.cb-image-uploader .hide-if-value p{display:block;margin:0!important}
.cb-hl,.cb-hl>li{display:block;margin:0;padding:0}
.cb-hl{list-style:none;position:relative}
.cb-hl>li{float:left}
.menu .cb-hl{width:auto}
.cb-soh .cb-soh-target{-webkit-transition:opacity .25s 0s ease-in-out,visibility 0s linear .25s;transition:opacity .25s 0s ease-in-out,visibility 0s linear .25s;visibility:hidden;opacity:0}
.cb-soh:hover .cb-soh-target{-webkit-transition-delay:0s;transition-delay:0s;visibility:visible;opacity:1}
.hide-if-value{display:block}
.has-value .hide-if-value,.show-if-value{display:none}
.has-value .show-if-value{display:block}
