#affwp-affiliate-dashboard .overlay {
	background-color: transparent !important;
}

.affiliate-signup-form {
	.alert {
		margin: 24px 0 32px;
	}

	input[type=text], input[type=email], input[type=password] {
		display: block;
		width: 100%;
		color: #333;
	}

	input.error {
		border-color: red;
	}
}
