.fb-icon {
	height: 85px;

	&.about { width: 56px; }
	&.gallery { width: 62px; }
	&.latest { width: 45px; }
	&.workshops { width: 74px; }
	&.ecourse { width: 58px; }
	&.studio-diaries { width: 80px; }
	&.community { width: 68px; }
	&.shop { width: 58px; }
}

#footer .fb-icon {
	height: 50px;

	&.about { width: 34px; }
	&.gallery { width: 38px; }
	&.latest { width: 28px; }
	&.workshops { width: 44px; }
	&.ecourse { width: 34px; }
	&.studio-diaries { width: 48px; }
	&.community { width: 40px; }
	&.shop { width: 34px; }
}

@media (max-width: 820px) {
	#main-nav .fb-icon {
		height: 75px;

		&.about { width: 50px; }
		&.gallery { width: 55px; }
		&.latest { width: 40px; }
		&.workshops { width: 65px; }
		&.ecourse { width: 50px; }
		&.studio-diaries { width: 70px; }
		&.community { width: 60px; }
		&.shop { width: 50px; }
	}
}

@media (max-width: 480px) {
	.fb-icon {
		height: 50px;

		&.about { width: 34px; }
		&.gallery { width: 38px; }
		&.latest { width: 28px; }
		&.workshops { width: 44px; }
		&.ecourse { width: 34px; }
		&.studio-diaries { width: 48px; }
		&.community { width: 40px; }
		&.shop { width: 34px; }
	}
}
