/* !- 7apps Custom Fonts */
@font-face {
	font-family: "existence_light";
	src: url("../fonts/existence-light-webfont.eot");
	src: url("../fonts/existence-light-webfont.eot?#iefix")
			format("embedded-opentype"),
		url("../fonts/existence-light-webfont.woff2") format("woff2"),
		url("../fonts/existence-light-webfont.woff") format("woff"),
		url("../fonts/existence-light-webfont.ttf") format("truetype"),
		url("../fonts/existence-light-webfont.svg#existence_light") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Silver South Script";
	src: url("../fonts/SilverSouthScript.eot");
	src: url("../fonts/SilverSouthScript.eot?#iefix") format("embedded-opentype"),
		url("../fonts/SilverSouthScript.woff2") format("woff2"),
		url("../fonts/SilverSouthScript.woff") format("woff"),
		url("../fonts/SilverSouthScript.ttf") format("truetype"),
		url("../fonts/SilverSouthScript.svg#SilverSouthScript") format("svg");
	font-weight: normal;
	font-style: normal;
}

.silver-south {
	font-family: "Silver South Script" !important;
}

// @font-face {
// 	font-family: 'existence_stencil_light';
// 	src: url('../fonts/existence-stencillight-webfont.eot');
// 	src: url('../fonts/existence-stencillight-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/existence-stencillight-webfont.woff2') format('woff2'),
// 	     url('../fonts/existence-stencillight-webfont.woff') format('woff'),
// 	     url('../fonts/existence-stencillight-webfont.ttf') format('truetype'),
// 	     url('../fonts/existence-stencillight-webfont.svg#existencestencil_light') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'existence_unicase_light';
// 	src: url('../fonts/existence-unicaselight-webfont.eot');
// 	src: url('../fonts/existence-unicaselight-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/existence-unicaselight-webfont.woff2') format('woff2'),
// 	     url('../fonts/existence-unicaselight-webfont.woff') format('woff'),
// 	     url('../fonts/existence-unicaselight-webfont.ttf') format('truetype'),
// 	     url('../fonts/existence-unicaselight-webfont.svg#existenceunicase_light') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'notera';
// 	src: url('../fonts/notera-webfont.eot');
// 	src: url('../fonts/notera-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/notera-webfont.woff2') format('woff2'),
// 	     url('../fonts/notera-webfont.woff') format('woff'),
// 	     url('../fonts/notera-webfont.ttf') format('truetype'),
// 	     url('../fonts/notera-webfont.svg#notera') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'my_boyfriends_handwriting';
// 	src: url('../fonts/my_boyfriends_handwriting-webfont.eot');
// 	src: url('../fonts/my_boyfriends_handwriting-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/my_boyfriends_handwriting-webfont.woff2') format('woff2'),
// 	     url('../fonts/my_boyfriends_handwriting-webfont.woff') format('woff'),
// 	     url('../fonts/my_boyfriends_handwriting-webfont.ttf') format('truetype'),
// 	     url('../fonts/my_boyfriends_handwriting-webfont.svg#my_boyfriends_handwriting') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'avenir_condensed_hand';
// 	src: url('../fonts/avenircondensedhand-webfont.eot');
// 	src: url('../fonts/avenircondensedhand-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/avenircondensedhand-webfont.woff2') format('woff2'),
// 	     url('../fonts/avenircondensedhand-webfont.woff') format('woff'),
// 	     url('../fonts/avenircondensedhand-webfont.ttf') format('truetype'),
// 	     url('../fonts/avenircondensedhand-webfont.svg#avenir_condensed_hand') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'jasmine_reminiscentse';
// 	src: url('../fonts/jasmine_reminiscentse_bold-webfont.eot');
// 	src: url('../fonts/jasmine_reminiscentse_bold-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/jasmine_reminiscentse_bold-webfont.woff2') format('woff2'),
// 	     url('../fonts/jasmine_reminiscentse_bold-webfont.woff') format('woff'),
// 	     url('../fonts/jasmine_reminiscentse_bold-webfont.ttf') format('truetype'),
// 	     url('../fonts/jasmine_reminiscentse_bold-webfont.svg#jasmine_reminiscentse') format('svg');
// 	font-weight: 700;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'jasmine_reminiscentse';
// 	src: url('../fonts/jasmine_reminiscentse_light-webfont.eot');
// 	src: url('../fonts/jasmine_reminiscentse_light-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/jasmine_reminiscentse_light-webfont.woff2') format('woff2'),
// 	     url('../fonts/jasmine_reminiscentse_light-webfont.woff') format('woff'),
// 	     url('../fonts/jasmine_reminiscentse_light-webfont.ttf') format('truetype'),
// 	     url('../fonts/jasmine_reminiscentse_light-webfont.svg#jasmine_reminiscentse') format('svg');
// 	font-weight: 300;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'jasmine_reminiscentse';
// 	src: url('../fonts/jasmine_reminiscentse-webfont.eot');
// 	src: url('../fonts/jasmine_reminiscentse-webfont.eot?#iefix') format('embedded-opentype'),
// 	     url('../fonts/jasmine_reminiscentse-webfont.woff2') format('woff2'),
// 	     url('../fonts/jasmine_reminiscentse-webfont.woff') format('woff'),
// 	     url('../fonts/jasmine_reminiscentse-webfont.ttf') format('truetype'),
// 	     url('../fonts/jasmine_reminiscentse-webfont.svg#jasmine_reminiscentse') format('svg');
// 	font-weight: 500;
// 	font-style: normal;
// }

@font-face {
	font-family: "sheila";
	src: url("../fonts/sheila/sheila.woff2") format("woff2"),
		url("../fonts/sheila/sheila.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "existence_light" !important;
}

h6,
.testimonial-item .testimonial-vcard .text-secondary {
	font-family: "sheila" !important;
}
