/* !- 7/Apps */
.sa-form {
	.control-label, .form-control {
		color: #333;
	}

	.form-control:focus {
		color: #999;
	}

	.control-label {
		display: block;
	}

	button {
		color: #fff;
		background-color: @h1-color;
	}

	button:hover, button:focus {
		background-color: darken( @h1-color, 5% );
	}

	.alert {
		display: none;
		margin: 24px 32px 32px 32px;
	}

	.spinner {
		display: none;
		font-size: 100px;
		padding: 10px 50px 50px 50px;
		text-align: center;
		line-height: 1.7;
	}

	.forgot, .remember {
		float: right;
		padding-top: 4px;
		margin-right: 12px;
	}
}

@media (max-width: 767px) {
	.sa-form .control-label {
		text-align: left;
	}
}

/* !- WooCommerce */
.terms .checkbox {
	margin-top: 0;
}

/* !- Gravity Forms */
.gform_confirmation_message {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;

	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
