/* we use these variables which come from the 7 theme options:

@accent-bg-color - it's pink right now, but it'll be teal later. buttons, anchor text, used everywhere
@dt-btn-bg-color - should probably all just be @accent-bg-color though?
@h1-color -
@h4-color -
*/

@import 'mixins.less';
@import 'fonts.less';

@import 'top-bar.less';
@import 'main-nav.less';
@import 'shopping-cart.less';
@import 'woocommerce.less';
@import 'sign-in-modal.less';
@import 'slider-menu.less';
@import 'studio-diary-player.less';
@import 'user.less';
@import 'forms.less';
@import 'affiliates.less';
@import 'fb-icons.less';
@import 'newsletter-signup.less';
@import 'support-button.less';

/* !- 7apps Main Styles */
pre {
	border: 1px solid #ccc;
	padding: 10px 20px;
	background: #fafafa;
	border-radius: 5px;
}

.modal {
	z-index: 10050 !important;
}
.modal-backdrop {
	z-index: 10040 !important;
}

.romans,
.content ol.romans {
	list-style-type: lower-roman;
}

.text-center {
	text-align: center;
}

.home #fancy-header,
.home-video {
	cursor: pointer;
}

@media screen and (min-width: 1600px) {
	.mfp-iframe-holder .mfp-content {
		max-width: 1200px;
	}
}

.diamonds li {
	list-style: none;
	position: relative;

	&:before {
		content: '♦';
		position: absolute;
		left: -1.2em;
		top: -1px;
	}
}

#fancy-header {
	.fancy-title,
	.fancy-subtitle {
		text-shadow: 0 1px 2px #222;
	}

	.breadcrumbs {
		text-shadow: 0 1px 1px #222;
	}
}

@media screen and (max-width: 750px) {
	#fancy-header .wf-table,
	.page-title .wf-table {
		height: 100px !important;
	}

	.fancy-parallax-bg,
	.page-title-parallax-bg,
	.stripe-parallax-bg {
		background-attachment: local !important;
		background-position: 50% 50% !important;
	}
}

.fancy-date {
	display: none;
}

.full-width-single-image {
	.vc_single_image-wrapper {
		width: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.parallax-centered-content {
	max-width: 980px;
	margin: 0 auto;
	display: table;
	float: none;
}

.scroll-top {
	background-color: rgba(205, 95, 10, 0.6);
	border-radius: 3px;
	&:hover {
		background-color: rgba(205, 95, 10, 0.9);
	}
}

footer#footer {
	clear: both;
}
