/* !- 7apps Main Nav */
html:not(.mobile-true) #bottom-bar img,
html:not(.mobile-true) #header img,
html:not(.mobile-true) #main img:not(.animate-element, .ls-s-1) {
  opacity: 1 !important;
}

#main-nav {
  > li > a {
    text-align: center;
  }

  > li:first-child {
    margin-left: 0;
  }

  span.nav-image {
    display: block;

    img {
      height: 85px;
    }
  }
}

#main-nav li.login-button,
#bottom-bar .mini-nav li.login-button {
  display: none;
}

/* CREATIVE REVOLUTION ECOURSE SPECIFIC STYLING */

body.single-fb_creativerev,
body.single-fb_freshpaint,
body.single-fb_handson_cr,
body.single-fb_heartson_cr,
body.single-fb_botanicals,
body.single-fb_together_apart,
body.single-fb_reunite,
body.single-fb_reunite_retreat,
body.single-fb_golden_ticket,
body.single-fb_creative_wellness {
  #main-nav > li {
    margin: 0 3px;

    a .text-wrap > span.item-title-wrap,
    a > span.item-title-wrap {
      margin-top: 4px;
    }
  }
}

/* shows the login button when on further down the page, with sticky navigation */
@media screen and (min-width: 750px) {
  .phantom-animate {
    #main-nav > li.login-button.sa-profile-login {
      display: inline-block;

      .item-title {
        background-color: @accent-bg-color;
        color: #fff;
        border-radius: 5px;
        padding: 4px 12px 6px;
        transition: background-color 0.1s linear;
      }

      a:hover,
      a:active {
        color: #fff !important;

        .item-title {
          background-color: darken(@accent-bg-color, 5%);
          // color: #fff;
        }
      }
    }
  }
}

.logged-in #phantom #main-nav li.login-button,
.logged-in #dl-menu li.login-button {
  display: none;
}

#phantom #main-nav span.nav-image {
  display: none;
}

#phantom #main-nav > li > a > span.item-title-wrap {
  top: -2px;
}

.has-slider-menu .sub-nav {
  display: none;
}

#branding {
  display: none !important;
}
.single-fb_ecourses #branding {
  display: block !important;
}

.dl-menuwrapper {
  z-index: 9;

  li a > span {
    vertical-align: middle;
  }
}

@media (max-width: 920px) {
  #main-nav {
    span.nav-image img {
      height: 75px;
    }

    span.item-title {
      font-size: 14px;
    }
  }
}

@media (max-width: 820px) {
  #main-nav {
    > li {
      margin: 0 10px;
    }

    span.nav-image img {
      height: 65px;
    }

    span.item-title {
      font-size: 12px;
    }
  }
}

@media (max-width: 480px) {
  #header:not(.logo-side) #main-nav > li,
  #header:not(.logo-side) #main-nav.menu-material-underline-style > li > a {
    height: 100px !important;
    min-height: 100px !important;
    line-height: 100px !important;
  }

  #main-nav {
    padding-bottom: 10px;
  }

  #main-nav > li {
    margin: 0 4px !important;
  }

  #main-nav span.nav-image img {
    height: 70px;
  }
}

/* !- Footer Nav */
#bottom-bar {
  &.solid-bg {
    background-size: cover;
  }

  .mini-nav {
    margin: 0;

    ul {
      display: block !important;
    }

    .nav-image img {
      height: 50px;
    }

    .item-title {
      display: none;
    }
  }

  .mini-nav select,
  .menu-select {
    display: none !important;
  }

  .wf-td {
    margin: 5px 0;
  }

  .wf-table {
    height: auto !important;
  }

  .wf-table,
  .wf-td {
    display: block;
    text-align: center;
  }

  .social {
    br {
      display: none;
    }

    a img {
      height: 35px;
    }
  }
}

.wf-container-bottom {
  padding: 10px 0;
}
