@red: #a91e22;
@purple: #7b1e89;
@purple-alt: #632D4C;

@-webkit-keyframes dropUp {
  0% { .transform( translateY( 200% ) ); }
  90% { .transform( translateY( 200% ) ); }
  100% { .transform( translateY( 0% ) ); }
}

@keyframes dropUp {
  0% { .transform( translateY( 200% ) ); }
  90% { .transform( translateY( 200% ) ); }
  100% { .transform( translateY( 0% ) ); }
}

.dropUp {
  -webkit-animation-name: dropUp;
  animation-name: dropUp;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.ns {
  .indicates-required {
    font-size: 12px;
    color: lighten( @purple, 50% );
    line-height: 34px;
  }
}

.ns-signup {
  position: fixed;
  bottom: 0px;
  right: 100px;
  background: @purple;
  border-radius: 5px 5px 0 0;
  // height: 20px;
  width: 300px;
  z-index: 1000;
  .transform( translateY( 200% ) );

  .box-shadow( 0 0 7px rgba(0,0,0,0.6) );
  // .transition( transform 500ms );

  &.dropUp {
    .transform( translateY( 0% ) );
  }
}

.ns-toggle {
  text-align: center;
  position: absolute;
  top: -18px;
  right: 20px;
  width: 40px;
  height: 18px;
  cursor: pointer;
  .border-radius( 5px 5px 0 0 );
  background: @purple;
  color: #fff;

  &:focus, &:hover { color: #fff; }
}

.ns-hidden-handle {
  height: 4px;
}

.ns-title {
  color: #fff;
  padding: 8px 10px;
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid lighten(@purple, 20%);
  line-height: 18px;

  small {
    display: block;
    color: lighten( @purple, 50% );
  }
}

.ns-free-print {
  display: block;
  margin-top: 6px;

  &.mfp-ready {
    cursor: zoom-in;
  }

  img {
    max-width: 100%;
  }
}

.ns-content {
  color: #fff;
  padding: 10px;
}

.ns-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ns-field-group {
  position: relative;

  &.email { flex-grow: 1; }
  &.button { margin-left: 5px; }

  input[type=text], input[type=email] {
    height: 34px;
    width: 100%;
    // .border-radius(4px);
    border: none;
    padding: 4px 8px;
    line-height: 20px;
    color: #333;
    margin-bottom: 0;
  }

  .asterisk {
    position: absolute;
    right: 5px;
    color: @red;
    font-size: 28px;
    line-height: 44px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }

  &.touched.error .asterisk {
    opacity: 1;
  }
}

.ns-button {
  background-color: @h1-color;

  &:hover, &:focus {
    background-color: darken( @h1-color, 5% );
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
  }
}

@media screen and (max-width: 480px) {
  .ns-signup {
    right: 50%;
    margin-right: -125px;
  }
}
