/* !- 7apps Shopping Cart */
.sa-mini-cart {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	margin-left: 0;
	z-index: 1001;
	vertical-align: middle;

	&.is-empty {
		display: none;
	}
}

.sa-ico-cart {
	position: relative;
	padding: 0 0 0 22px;
	font-size: 12px;
	line-height: 21px;
	white-space: nowrap;
	text-decoration: none;
	color: #ffffff;
}

.sa-ico-cart:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2216px%22%20height=%2216px%22%20viewBox=%220%200%2016%2016%22%20enable-background=%22new%200%200%2016%2016%22%20xml:space=%22preserve%22%3E%3Cpath%20fill=%22%23ffffff%22%20d=%22M12.438,3.896H14L9.854,0.171C9.519-0.06,9.274-0.062,9.011,0.202C8.745,0.469,8.901,0.818,9.167,1.083L12.438,3.896z%20M6.833,1.083c0.266-0.265,0.422-0.615,0.156-0.881C6.726-0.062,6.481-0.06,6.146,0.171L2,3.896h1.562L6.833,1.083z%20M14.9,6l-3,6.9H4.1L1.1,6h13.025%20M16,5.813L16,5.813V4.9H0v0.913v0.008C0.342,7.018,3.5,14,3.5,14l0,0h9%22/%3E%3C/svg%3E");
}

.sa-mini-cart .sa-cart-count {
	position: relative;
	top: -2px;
	display: inline-block;
	margin-left: 5px;
	// width: 14px;
	padding: 0 3px;
	height: 14px;
	text-align: center;
	font-size: 9px !important;
	font-family: Tahoma, Arial, sans-serif !important;
	line-height: 14px !important;
	letter-spacing: normal;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background-color: @accent-bg-color;
}

.sa-mini-cart .sa-cart-count:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -4px;
	margin-top: -3px;
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-right: 4px solid @accent-bg-color;
	border-bottom: 3px solid transparent;
}

.sa-shopping-cart {

}

.sa-cart-item {
	// cursor: pointer;
	position: relative;
	background: #fafafa;
	padding: 10px 170px;
	margin-bottom: 20px;
	border-radius: 2px;
	// .box-shadow ( 0 1px 2px #ccc );
	// .transform ( translate( 0, 0 ) );
	// .transition ( all 250ms ease-in-out );
}

// .sa-cart-item:hover {
// 	box-shadow: 0 3px 10px #ccc;
// 	.transform ( translate( 0, -2px ) );
// }

.sa-cart-item-image {
	position: absolute;
	left: 10px;
	top: 50%;
	.transform ( translateY( -50% ) );
	width: 150px;
	text-align: center;
}

.sa-cart-item-price {
	position: absolute;
	right: 50px;
	top: 50%;
	.transform ( translateY( -50% ) );
	width: 110px;
	text-align: center;
}

.sa-remove-cart-item {
	position: absolute;
	right: 30px;
	top: 50%;
	.transform ( translateY( -50% ) );
	color: #ccc;
	font-size: 20px;
}

.sa-cart-footer {
	text-align: right;
	border-top: 1px solid #ccc;
	margin: 20px 0;
	padding: 10px 0;
}

.sa-add-cart-item {
	text-decoration: none;
}

.sa-register-button {
	display: block;
	width: 100%;
	color: #fff;
	padding: 20px;
	font-size: 24px;
	font-family: 'Josefin Sans';
	font-weight: 300;
	background-color: lighten( @dt-btn-bg-color, 10% );
	margin: 15px 0;
}

.sa-register-button:hover, .sa-register-button:focus {
	background-color: @dt-btn-bg-color;
}
