/* !- 7apps Login + Register Modal */
#sign-in-modal {
	a {
		color: @h1-color;
		text-decoration:none;
	}

	a:hover {
		text-decoration:underline;
	}

	.modal-content {
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		overflow: hidden;
	}

	.modal-body {
		padding: 0;
	}

	.close {
		font-size: 32px;
		position: relative;
		right: 22px;
		top: 16px;
	}

	.nav-tabs {
		background-color: #fafafa;
		padding: 24px 0 0 0;
		margin: 0;

		li:first-child {
			margin-left: 24px;
		}
	}

	.tab-content {
		-webkit-overflow-scrolling: touch;
		overflow-y: scroll;
		overflow-x: hidden;

		.tab-pane .title {
			text-align: center;
			margin-bottom: 32px;

			h1 {
				margin-top: 30px !important;
				font-size: 40px;
			}

			form {
			  margin-bottom: 30px !important;
			}

			p {
			  margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 767px) {
	#sign-in-modal form {
		padding: 32px;
	}
}

@media (max-width: 480px) {
	#sign-in-modal .tab-content .tab-pane .title h1 {
		font-size: 22px !important;
	}
}
