/* !- 7apps Slider Menu */
.slider-menu {
	position: absolute;
	left: 0;
	right: 0;
	// overflow: hidden;
	// background-color: rgba(255, 255, 255, 0.8);
	height: 200px;
	opacity: 0;
	.transition (opacity 500ms ease);
	.box-shadow (0 2px 10px rgba(100,100,100,0.5));
	z-index: 190;

	&.in {
		opacity: 1;
	}

	&.phantom {
		background-color: rgba( 45, 0, 0, 0.5 );
	}

	.owl-item {
		position: relative;
		float: left;
		display: block;
	}

	.menu-item {
		position: relative;
		float: left;
		display: block;
		height: 200px;
	}

	b.shadow {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		border: 1px solid rgba(255, 255, 255, 0.25);
		display: block;
		z-index: 10;
	}

	li .nav-image {
		display: block;
		min-width: 300px;
		position: relative;
		opacity: 0.75;
		.transition (opacity 250ms ease-in-out);
	}

	li .nav-image img, li span {
		display: block;
		height: 200px;
		width: auto;
		position: relative;
		z-index: 1;
	}

	li span {
		width: 300px;
		overflow: hidden;
	}

	span.item-title-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(45, 0, 0, 0.3);
		display: table;
		.transition (background-color 250ms ease-in-out);
		color: white;
		font-size: 1.75em;
		text-shadow: 0 2px 2px rgb(95, 95, 95, 0.25);
	}

	li:hover span.item-title-wrap {
		background-color: rgba(45, 0, 0, 0.1);
	  color: white;
	  text-shadow: 0 2px 2px rgb(95, 95, 95), 0 0 30px black;
	}

	li:hover .nav-image {
		opacity: 1;
	}

	span.item-title {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 0 10px;
		font-family: 'existence_light';

		.is-safari & {
			font-weight: bold;
		}
	}

	.slider-menu-dots {
		position: absolute;
		top: 200px;
		left: 0;
		right: 0;
		width: 100%;
		// height: 20px;
		text-align: center;

		.slider-menu-dot {
			width: 8px;
			height: 8px;
			border: 1px solid white;
			border-radius: 8px;
			margin: 2px;
			display: inline-block;
			opacity: 0.8;
			.box-shadow (0 0 1px #333);

			&.active {
				background: white;
			}
		}
	}

	.slider-menu-prev, .slider-menu-next {
		cursor: pointer;
		display: block;
		position: absolute;
		top: 0;
		width: 120px;
		height: 200px;
		padding: 0 20px;
		// background: rgba(255, 255, 255, 0.8);
		font-size: 3em;
		color: #fff;
		line-height: 200px;
		.transition( color 250ms ease-out );

		&:hover {
			color: lighten( @accent-bg-color, 30% );
		}

		.fa {
			position: relative;
			top: -2px;
		}
	}

	.slider-menu-prev {
		left: 0;
		text-align: left;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d0000+0,2d0000+100&amp;1+0,0+100 */
		background: -moz-linear-gradient(left,  rgba(45,0,0,0.8) 0%, rgba(45,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,0,0,0.8)), color-stop(100%,rgba(45,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(45,0,0,0.8) 0%,rgba(45,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(45,0,0,0.8) 0%,rgba(45,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(45,0,0,0.8) 0%,rgba(45,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(45,0,0,0.8) 0%,rgba(45,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d0000', endColorstr='#002d0000', GradientType=1 ); /* IE6-9 */
	}

	.slider-menu-next {
		right: 0;
		text-align: right;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d0000+0,2d0000+100&amp;0+0,1+100 */
		background: -moz-linear-gradient(left,  rgba(45,0,0,0) 0%, rgba(45,0,0,0.8) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(45,0,0,0)), color-stop(100%,rgba(45,0,0,0.8))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(45,0,0,0) 0%,rgba(45,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(45,0,0,0) 0%,rgba(45,0,0,0.8) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(45,0,0,0) 0%,rgba(45,0,0,0.8) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(45,0,0,0) 0%,rgba(45,0,0,0.8) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002d0000', endColorstr='#2d0000', GradientType=1 ); /* IE6-9 */
	}
}
