.studio-diary-player {

}

.studio-diary-player-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	background: #e6e6e6;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.studio-diary-player-video-details {
	display: none;
	background: #fafafa;
	padding: 15px;

	.text-below-video & {
		display: block;
	}
}

.studio-diary-player-list {
	margin-top: 30px;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.studio-diary-player-list-item {
	background: #fafafa;
	cursor: pointer;
	margin-bottom: 30px !important;

	&:hover {
		background: #f0f0f0;
	}
}

@media screen and (min-width: 992px) {
	.col-md-4:nth-child(3n+1) {
		clear: left;
	}
}

@media screen and (max-width: 991px) {
	.col-sm-6:nth-child(2n+1) {
		clear: left;
	}
}


.studio-diary-player-list-item-thumb {
	position: relative;

	.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		.transform( translate( -50%, -50% ) );
		font-size: 32px;
		color: #fff;
		visibility: hidden;
		opacity: 0;
		.transition ( e("visibility 0s linear 0.3s, opacity 0.3s linear") );
	}

	&:before {
		content: "";
		visibility: hidden;
		opacity: 0;
		.transition ( e("visibility 0s linear 0.3s, opacity 0.3s linear") );
		background: rgba(30,0,0,0.5);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: block;
	}

	.active & .fa, .studio-diary-player-list-item:hover & .fa,
	.active &:before, .studio-diary-player-list-item:hover &:before {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}

	img {
		width: 100%;
	}
}

.studio-diary-player-list-item-progress {
	position: relative;
	background: #fafafa;
	height: 5px;
	width: 100%;

	span.progress {
		position: absolute;
		top: 0;
		left: 0;
		height: 5px;
		width: 0%;
		background: @h4-color;
	}
}

.studio-diary-player-list-item-content {
	padding: 15px;

	.text-below-video & {
		display: none;
	}
}
