a.fb-support-button {
	background: transparent url(../images/need-help.png) -121px 0px no-repeat;
	background-size: 290px 54px;
	padding: 0;
	height: 54px;
	width: 168px;
	outline: none;
	display: block;
	text-indent: -9999px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius: 25px;
	-webkit-border-radius: 27px;
	-moz-border-radius: 27px;
	-o-border-radius: 27px;
	-ms-border-radius: 27px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 1000;

	&:hover {
		background-position: 0px 0px;
	}
}
