/* !- 7apps Top Bar */
#top-bar {
	text-align: right !important;

	a:hover,
	.mini-login a:hover {
		text-decoration: none;
		color: lighten(@accent-bg-color, 30%);
	}

	.wf-wrap {
		width: 870px;
	}

	.mini-login {
		.sa-profile-login {
			&.btn {
				display: block;
				margin: 5px 0;
				background-color: @accent-bg-color;
				color: #fff;
				border-radius: 5px;
				padding: 4px 12px 6px;
				transition: background-color 0.1s linear;

				&:hover,
				&:active {
					color: #fff !important;
					background-color: darken(@accent-bg-color, 5%);
				}
			}
		}

		.sa-profile-menu {
			display: inline-block;
			position: relative;
			margin: 0 -10px;

			> a {
				padding: 0 10px;
				z-index: 15;
			}
		}

		.sa-profile-dropdown {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: -10px;
			left: 0;
			background: rgba(30, 0, 0, 0.6);
			z-index: 10;
			padding: 35px 0 0;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;
			width: 100%;
			.transition (e('visibility 0s linear 0.5s, opacity 0.5s linear'));

			// li:first-child a {
			// 	border-top: 1px solid rgba( 45, 0, 0, 0.4 );
			// }

			li:last-child a {
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
			}

			a {
				display: block;
				padding: 3px 10px;
			}

			a:hover {
				color: #fff;
				background: rgba(45, 0, 0, 0.4);
			}
		}

		&:hover .sa-profile-dropdown {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}
	}

	.sa-search,
	.sa-signup {
		position: relative;
		display: inline-block !important;
		margin: 2px 0;
		width: 25px;
		text-align: left;
		.transition (width 250ms ease-in-out);

		.sa-search-open,
		.sa-signup-open {
			position: relative;
			z-index: 15;

			span {
				margin-left: -6px;
				opacity: 1;
				.transition (opacity 250ms ease-in-out);
			}
		}

		&.active {
			width: 200px;

			.sa-signup-open span {
				opacity: 0;
			}
		}

		i.fa {
			padding: 0 8px;
			line-height: 25px !important;
		}

		input[type='text'].field {
			pointer-events: none;
			outline: none;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(45, 0, 0, 0.4);
			border: none;
			color: #fff !important;
			padding: 2px 4px 2px 30px;
			border-radius: 12px !important;
			width: 100%;
			margin: 0;
			z-index: 10;
			opacity: 0;
			.transition (opacity 250ms ease-in-out);
		}

		&.active input[type='text'].field {
			pointer-events: all;
			opacity: 1;
		}
	}

	.sa-signup {
		width: 110px;
	}
}

#phantom #top-bar {
	display: none !important;
}

#navigation .sa-search,
#top-bar .sa-search .searchsubmit {
	display: none !important;
}

// #main-nav > .menu-item.sa-profile-login.login-button > a .fa {
// 	vertical-align: initial;
// 	padding-top: 0;
// 	padding-right: 1px;
// }

@media screen and (min-width: 751px) {
	#top-bar .signup-help {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}

@media screen and (max-width: 750px) {
	#top-bar .wf-td {
		display: block !important;
		text-align: center;
	}

	#top-bar .wf-td > div:first-child {
		display: block;
		float: none !important;
		text-align: center;
	}

	#top-bar .mini-login .sa-profile-dropdown {
		top: -5px;
		border-radius: 8px;
		background: rgba(30, 0, 0, 0.8);
	}
}

/*** MOBILE MENU ****/
#dl-menu ul.dl-menu.dl-menuopen li.sa-profile-login.login-button i.fa.fa-lock {
	/* hides the small lock icon on the mobile menu */
	display: none;
}
