/* !- 7apps User Forms */
.sa-user-account {
}

.sa-user-change-password {
}

.sa-save {
	.transition ( background 250ms ease-out );
}

.sa-save:disabled {
	background: #E6AF85;
}


/* PASSWORD RESET */

.woocommerce-password-strength.short {
	color: red;
	font-weight: bold;
}

input.woocommerce-Button.button.disabled {
    background-color: #e6e6e6;
}
