/*fixes the positioning of the sale tag line so that it fits more centered within the circle*/
article.product .onsale {
    line-height: 24px;
}


.product_type_simple:after, .product_type_variable:after, .product-add-to-cart:after, .product_type_bundle:after {
    background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20x=%220px%22%20y=%220px%22%20width=%2224px%22%20height=%2224px%22%20viewBox=%220%200%2024%2024%22%20enable-background=%22new%200%200%2024%2024%22%20fill=%22white%22%20xml:space=%22preserve%22%3E%3Cpath%20d=%22M21.229,7.925L16.938,17.7H7.078L2.812,7.925H0v2.33h0.643c0.904-0.021,0.904-0.021,1.257,0.785l3.819,8.901h12.578l3.805-8.9c0.383-0.807,0.383-0.807,1.256-0.786H24v-2.33H21.229L21.229,7.925z%22/%3E%3Cpolygon%20points=%2216.7,8.025%2013.023,8.025%2013.023,11.8%2010.975,11.8%2010.975,8.025%207.3,8.025%207.3,5.976%2010.975,5.976%2010.975,2.2%2013.023,2.2%2013.023,5.976%2016.7,5.976%20%22/%3E%3C/svg%3E");
}

/* Styles for product pages */

.wcwl_control a {
	padding: 6px 12px;
	background: @accent-bg-color !important;
}


form.bundle_form {
	.product h4 {
		font: normal normal normal 20px / 26px "Dawning of a New Day", Helvetica, Arial, Verdana, sans-serif;
	}
	.details:after{
		display: none;
	}
}

/*giving a column the class name of "product-full-width" will ensure that the product is displayed in a full width view, rather than the odd sizing that the isotope script might force it into */
.product-full-width .cont-id-0 > .wf-cell.shown {
    width: 100%;
}

/* PAYMENT PLANS AND DEPOSITS */
ul.wc-deposits-payment-plans small {
	font-size: 70%;
}

body .wc-deposits-wrapper .wc-deposits-payment-plans li.wc-deposits-payment-plan .wc-deposits-payment-plan-description {
    color: #9f9f9f;
}

/*hides the 'Add to cart' icon when a catalog item can't e added to the cart directly,
because we want people to check out the payment plan options */
a.product-add-to-cart.product_type_deposit {
    display: none;
}

/*my account page*/


.woocommerce-MyAccount-navigation ul {
	margin-left: 0;
	border-top: 1px solid rgba(0,0,0,.05)
}

.woocommerce-MyAccount-navigation ul li {
	list-style: none;
	border-bottom: 1px solid rgba(0,0,0,.05);
	position: relative
}

.woocommerce-MyAccount-navigation ul li.is-active a:before {
	opacity: 1
}

.woocommerce-MyAccount-navigation ul li a {
	padding: .875em 0;
	display: block;
	text-align: left;
	text-decoration: none;
	&:hover {
		text-decoration:underline;
	}
}

.woocommerce-MyAccount-navigation ul li a:before {
	display: inline-block;
	font: normal normal normal 1em/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0f6";
	line-height: 1.618;
	margin-left: .5407911001em;
	width: 1.41575em;
	text-align: right;
	float: right;
	opacity: .25
}

.woocommerce-MyAccount-navigation ul li a:hover:before {
	opacity: 1
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
	content: "\f0e4"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
	content: "\f291"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
	content: "\f1c6"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
	content: "\f015"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--payment-methods a:before {
	content: "\f09d"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
	content: "\f007"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-logout a:before {
	content: "\f08b"
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--subscriptions a:before {
	content: "\f021"
}

@media screen and (min-width: 768px) {
	.woocommerce-MyAccount-navigation {
		width: 17.6470588235%;
		float: left;
		margin-right: 5.8823529412%
	}

	.woocommerce-MyAccount-content {
		width: 76.4705882353%;
		float: right;
		margin-right: 0
	}
}

body.page-id-15967 { /*rules to style the my-account page*/
/*clears the membership content space from the footer*/
	#content:before, #content:after {
		content: "";
		display: table;
		clear: both;
	}
	.woocommerce-MyAccount-content h2 {
		margin-top: 1em;
	}
}

/*I don't know why, but the woocommerce update to 2.6 required these styles to display the checkout beter */
.shipping-calculator-form select {
	opacity: 1;
}

/*hides the tab for memberships, since there's only a section for content for now*/
.woocommerce-account ul.my-membership-tabs>li {
	span, a, &:after {
		display: none;
	}
}

#wc-memberships-members-area  h2 {
	margin-top: 0;
}

/* hides the Next Bill On column via css for the My Online Content section */
table.shop_table {
	th.membership-next-bill-on,
	td.membership-membership-next-bill-on {
	    display: none;
	}
}

table.shop_table.my_account_memberships td.membership-actions.order-actions .button.cancel {
	display: none;
}


/*** COUPONS ****/

#coupons_list .coupon-container {
    margin-bottom: 3em;
    box-shadow: none;
}


/*  Extended Coupons columns system */
ul.wjecf-cols { list-style-type: none;margin:0}
ul.wjecf-cols > li { float:left;margin-right:3%;margin-left:0; }
.woocommerce-cart table.cart ul.wjecf-cols > li > img { width:auto; }

ul.wjecf-cols.cols-2 li { width:48.5%; }
ul.wjecf-cols.cols-3 li { width:31.3%; }
ul.wjecf-cols.cols-4 li { width:22.7%; }
ul.wjecf-cols.cols-5 li { width:17.6%; }
ul.wjecf-cols.cols-6 li { width:14.1%; }

ul.wjecf-cols.cols-2 li:nth-child(2n+2),
ul.wjecf-cols.cols-3 li:nth-child(3n+3),
ul.wjecf-cols.cols-4 li:nth-child(4n+4),
ul.wjecf-cols.cols-5 li:nth-child(5n+5),
ul.wjecf-cols.cols-6 li:nth-child(6n+6) { margin-right:0!important; }
